@CHARSET "UTF-8";

* {
    margin: 0px;
    outline: 0 none;
    padding: 0px;
    /* height:  750px; */
}

html, body {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 100;
  height: 100%;
}

h1 {
  font-family: 'Belleza', sans-serif;
  font-size: 65px;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 100;
  margin-top: 2px;
}

div.form input.textfield {
  width: 300px;
  height: 44px;
  line-height: 18px;
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 13px;
  background-color: #1D1C19;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff));
  background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -ms-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
  background-image: linear-gradient(top, #eeeeee, #ffffff);
  color: #5c5c5c;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

div.form input.textfield_signup {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

div.form input.button_submit {
  cursor: pointer;

  border: 0;
color: #fff;
padding: 13px 17px;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #168B47;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#55BA3F), to(#168B47));
background-image: -webkit-linear-gradient(top, #55BA3F, #168B47);
background-image: -o-linear-gradient(top, #55BA3F, #168B47);
background-image: linear-gradient(to bottom, #55BA3F, #168B47);
background-image: -moz-linear-gradient(top, #55BA3F, #168B47);
background-repeat: repeat-x;
border-radius: 0 5px 5px 0;
-moz-border-radius: 0 5px 5px 0;
-webkit-border-radius: 0 5px 5px 0;
text-transform: uppercase;
letter-spacing: 1px;
text-align: center;
font-family: 'Source Sans Pro',sans-serif;
font-size: 16px;
line-height: 18px;
transition: .5s;
-webkit-transition: .5s;
}

div.form input.button_submit_signup {
  -webkit-border-top-left-radius:0;
  -webkit-border-bottom-left-radius:0;
  -moz-border-radius-topleft:0;
  -moz-border-radius-bottomleft:0;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

div.form input.button_submit:hover {
  background-color: #168B47;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#168B47), to(#168B47));
  background-image: -webkit-linear-gradient(top, #168B47, #168B47);
  background-image: -o-linear-gradient(top, #168B47, #168B47);
  background-image: linear-gradient(to bottom, #168B47, #168B47);
  background-image: -moz-linear-gradient(top, #168B47, #168B47);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#168B47', endColorstr='#168B47', GradientType=0);
}

.LR-footer 
{
background-color: rgba(0,0,0,0.50);
position: relative;
/*background: transparent;*/
overflow: hidden;
text-align: center;
/* height: 750px; */
width: 100%;
z-index: 1;
}


.LR-header {
  /*position: relative;*/
  background: transparent;
  overflow: hidden;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.LR-header:before{
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
}

.LR-bg-img {
  content:"";
  margin:0;
  padding:0;
  background-image:url(./image_wishlist.jpg);
  background-repeat:none;
  background-color: #222;
  background-size: cover;
  /*background-position: center center;*/
  -o-background-size: cover;
  -moz-background-size: cover;
  height: 100%;
  width:100%;
  background-attachment: scroll;
  position: absolute;
  z-index:0;
  top:0;
  left:0;
}

.LR-content {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color: #1C1C1D;
  font-size:14px;
  font-weight: 300;
  /*position: absolute;*/
  z-index:1;
  min-height: 100%;
  min-width: 100%;
}

p {
  margin:10px 0;
  line-height: 1.5em;
}

.LR-site-title {
  padding: 0 0 300px;
  font-size: 45px;
  line-height: 1.0em;
  color: #fff;
  position: relative;
  z-index: 2;
  color: #fff;
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  display:inline-block;
  max-height: 250px;
  vertical-align: middle;
  overflow: hidden;
}

.LR-site-footer 
{
 /*255,255,255,0.15*/
  padding: 0 0 40px;
  font-size: 45px;
  line-height: 1.0em;
  color: #fff;
  position: relative;
  z-index: 2;
  color: #fff;
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  display:inline-block;
  max-height: 250px;
  vertical-align: middle;
  overflow: hidden;
}

.LR-sign-up-label 
{
  font-style: italic;
  font-size: 14px;
  display: block;
  padding: 10px 0 0 5px;
}

/*from canva*/

header 
{
position: fixed;
left: 0;
top: 0;
z-index: 100;
width: 100%;
height: 50px;
background-image: url(./header_bg.png);
-webkit-transition: background-color 0.3s linear;
transition: background-color 0.3s linear;
}

.inner {
width: auto;
min-width: 920px;
}

#learnMore {
position: absolute;
float: right;
right: 8%;
bottom: 50px;
padding-right: 40px;
color: #ffffff;
font-size: 135%;
font-weight: 300;
text-decoration: none;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
transition: all 0.2s linear;
}

#learnMore:hover {
color: #00c4cc;
opacity: 1;
}

#learnMore > span {
position: absolute;
right: 0;
top: 50%;
width: 29px;
height: 29px;
margin-top: -15px;
border-radius: 15px;
background-color: #ffffff;
background-image: url(https://d29498xbqfhwsb.cloudfront.net/static/images/learn_more_arrow.gif);
background-repeat: no-repeat;
background-position: 50% 50%;
-webkit-animation: floating 3s infinite ease-in-out;
-moz-animation: floating 3s infinite ease-in-out;
animation: floating 3s infinite ease-in-out;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
transition: all 0.2s linear;
}

@-webkit-keyframes floating {
0% {-webkit-transform: translateY(-4px);}
50% {-webkit-transform: translateY(4px);}
100% {-webkit-transform: translateY(-4px);}
}

@-moz-keyframes floating {
0% {-moz-transform: translateY(-4px);}
50% {-moz-transform: translateY(4px);}
100% {-moz-transform: translateY(-4px);}
}

@keyframes floating {
0% {transform: translateY(-4px);}
50% {transform: translateY(4px);}
100% {transform: translateY(-4px);}
}

#learnMore:hover > span {
background-color: #00c4cc;
background-image: url(https://di8vc3anm8wl1.cloudfront.net/static/images/learn_more_arrow_hover.gif);
}

/*from getpocket*/

article, figure,header,section {
display: block;
margin: 0;
padding: 0;
}

.mid-content article h3 {
font: 34px 'ProximaNovaBold', Arial, Helvetica, sans-serif;
color: #000;
padding: 0px 0 10px 0;
}

.mid-content article p {
font: 15px/21px 'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif;
padding-bottom: 20px;
}

.mid-content-outer-wrp {
width: 100%;
float: left;
background: url(./mid_content_bg.gif) center repeat-y;
background-size: cover;
  /*background-position: center center;*/
  -o-background-size: cover;
  -moz-background-size: cover;
}

.mid-content-outer {
width: 100%;
float: left;
background: url(./veiw_any_bg.gif) top center no-repeat;
/* padding-top: 0; */
}

.layout {
width: 1003px;
/* height: 150px; */
margin: 0 auto;
}

.mid-content {
width: 977px;
float: left;
padding: 013px 20px 13px;
}

.mid-content article {
width: 280px;
float: left;
padding-top: 25px;
}

.mid-content figure {
width: 307px;
float: left;
margin-right: 63px;
}

.content {
   padding-top: 25px; 
  background: url(./mid_content_bg.gif) center repeat-y; 
}

