/*
* CSS styles applied on every page, public and logged-in. Except for the editor.
*
* Do not put things in this stylesheet that only apply to a minority of pages.
* TODO: minify this before release.
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

/* GENERAL ========================================= */


/* Zero default margin & padding around common elements */
article, blockquote, body, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, header, li, menu, nav, ol, p, section, ul {
margin: 0;
border: 0 none #FFFFFF;
padding: 0;
}

body {
background-color: #e5e5e5;
color: #3F4652;
line-height: 1.4;
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 90%;
text-align: left;
}

body.dark {
background-color: #3f4652;
background-image: url(./image_wishlist_dark.jpg);
background-size: cover;
overflow-x: hidden;
/*overflow-y: hidden;*/
}

a {
color: #00c4cc;
text-decoration: underline;
}

a:visited {
color: #9966cc;
}

a:hover {
text-decoration: none;
}

img {
border: 0 none transparent;
}

/* HEADER ========================================= */

header {
position: absolute;
left: 0;
top: 0;
z-index: 100;
width: 100%;
height: 50px;
background-image: url(./header_bg.png);
-webkit-transition: background-color 0.3s linear;
transition: background-color 0.3s linear;
}

header > .inner > menu > li {
display: inline-block;
}

header > .inner > menu a,
header > .inner > menu a:visited{
color: #ffffff;
text-decoration: none;
-webkit-transition: all 0.15s linear;
-moz-transition: all 0.15s linear;
-ms-transition: all 0.15s linear;
transition: all 0.15s linear;
}

header > .inner > menu > li > a {
display: block;
margin: 0 0 0 2em;
line-height: 50px;
}

header > .inner > menu a:hover,
header.lightBG > .inner > menu a:hover {
color: #00c4cc;
}


/* GENERAL ========================================= */

html {
height: 100%;
}

body {
min-height: 100%;
-webkit-perspective: 400px;
-moz-perspective: 400px;
-ms-perspective: 400px;
perspective: 400px;
}

/* HEADER ========================================= */

header > .inner > menu {
font-size: 100%;
}

header > .inner > menu a {
font-weight: bold;
}

/* CONTENT ========================================= */

form {
position: absolute;
left: 50%;
top: 20%;
z-index: 10;
width: 19em;
margin: 0 0 0 -12em;
border-radius: 8px;
padding: 2.5em;
/* IE8 doesn't like rgba notation. Specify a fallback when possible */
background-color: #fff;
background-color: rgba(255,255,255,1);
text-align: center;
box-shadow: 0 0 24px rgba(0,0,0,0.333);
-webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
-moz-transition: opacity 0.8s ease-in-out, -moz-transform 0.8s ease-in-out;
-ms-transition: opacity 0.8s ease-in-out, -ms-transform 0.8s ease-in-out;
transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

form h1 {
margin: -0.4em 0 0.4em 0;
font-size: 200%;
font-weight: 300;
}

form p {
margin-top: 1em;
}

canvas {
position: absolute;
left: 0;
top: 0;
z-index: -1;
}

/* RESERVE PAGE ========================================= */

#usernameForm #username {
width: 13em;
padding-right: 2.5em;
}

#usernameForm {
width: 22em;
margin-left: -13.5em;
}


#successSocial {
margin-top: 2em;
}

#successSocial li {
display: inline;
}

#successSocial a {
display: inline-block;
width: 48px;
height: 48px;
margin: 0 10px;
background-position: 50% 50%;
background-repeat: no-repeat;
text-indent: -9999px;
opacity: 0.5;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

#successSocial a:hover {
opacity: 1;
-webkit-transform: translate3d(0,-5px,0);
-moz-transform: translate3d(0,-5px,0);
-ms-transform: translate3d(0,-5px,0);
transform: translate3d(0,-5px,0);
}

#successSocialTwitter a {
width: 54px;
background-image: url(./icon_twitter_big.png);
}

#successSocialFacebook a {
width: 43px;
background-image: url(./icon_facebook_big.png);
}

#successSocialGooglePlus a 
{
width: 43px;
background-image: url(./googleplussmall.png);
}

/*

#successSocialPinterest a {
width: 49px;
background-image: url(https://di8vc3anm8wl1.cloudfront.net/static/images/icon_pinterest_big.png);
}

#successSocialYoutube a {
width: 38px;
background-image: url(https://di8vc3anm8wl1.cloudfront.net/static/images/icon_youtube_big.png);
}
*/


@media screen and (max-width: 375px)
{
    body {
        font-size: 80%;
    }
    
    #usernameForm {
        width: 290px;
        margin-left: -13.3em;
    }
    
    form 
    {
        left: 53%;
        top: 20%;
        padding: 1.2em;
    }
}


@media screen and (max-width: 275px)
{
    body {
        font-size: 70%;
    }
    
    header {
        height: 30px;
    }
    
    header > .inner > menu > li > a 
    {
        margin-top: -1em;
    }
    
    #usernameForm {
        width: 220px;
        margin-left: -11.4em;
    }
    
    form 
    {
        top: 15%;
        padding: 1.0em;
    }
}




